<h1>Listing items</h1>

<table class="table files-list">
  <thead>
    <tr>
      <th>File</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.title, item %></td>
        <td><%= link_to 'Edit', edit_item_path(item), class: "btn btn-success update-files" %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger delete-files"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<input id="token" type="hidden" value="<%= form_authenticity_token %>"> 
<button class="btn btn-primary select-files">Select files</button>
<button class="btn btn-success upload-files">Upload files</button>
<button class="btn btn-danger stop-upload">Stop upload</button>

<%= javascript_include_tag "upload_items.js" %>



