<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
  <%= content_tag @item.content_url() if @item.content? %>
</p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<p>
  <strong>Tags:</strong>
  <td class="text-right">
  <% if (@item.tags) %>
    <% @item.tags.split(',').each do |tag| %>
      <%= link_to tag, '/tags/' + tag %>
    <% end %>
  <% end %>
</td>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', root_path %>
